html {
    font-family: Verdana, Geneva, san-serif;
    font-size: 15px;
}

body {
    background: #eee;
    color: #111;
}

#content {
    padding: 1em 3em;
}

#checks p {
    padding: 0;
    margin: 0.5em;
}

#submit {
    position: fixed;
    top: 5em;
    right: 5em;
    padding: 0.7em;
    background: violet;
    border: 0;
    font-family: inherit;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0 0 4px #555;
    border: 1px solid transparent;
}

#submit:active, #submit:focus, #submit:hover {
    opacity: 0.8;
    border-color: #333;
    user-select: none;
}

#checks label {
    cursor: pointer;
    display: inline-block;
    margin-bottom: 0.7em;
    padding: 0 1em;
    user-select: none;
}